@{
  ViewData["Title"] = "Categories";
}


<div class="page-in-half">
  <!-- New Categories Form Div -->
  @model Category
  <div>    
    <h2>New Category</h2>
    <form asp-controller="Home" asp-action="CreateCategory">
      <table>
        <!-- Name -->
        <tr>
          <td>
            <label asp-for="Name"></label>
          </td>
          <td>
            <input asp-for="Name">
          </td>
          <td>
              <div asp-validation-summary="ModelOnly"></div>
            <p asp-validation-for="Name"></p>
          </td>
        </tr>
      </table>
      <input type="submit" value="Create">
    </form>
  </div>
  <!-- Existing Categories List -->
  <div>
    <h2>Existing Categories</h2>
    <ul>
      @foreach(var c in ViewBag.Categories)
      {
        <li>
          <a href='/categories/@c.CategoryId'>@c.Name</a>
        </li>
      }
    </ul>
  </div>
</div>

