@{
    ViewData["Title"] = "Products and Categories";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Products and Categories</h1>
    <br>
    <p>Get started with our</p>
    <h3><a asp-controller="Home" asp-action="Products">Products</a></h3>
    <h3>or</h3>
    <h3><a asp-controller="Home" asp-action="Categories">Categories</a></h3>
</div>
